:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 223, 224, 224;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
#__next {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: rgb(var(--background-rgb));
  color: rgb(var(--foreground-rgb));
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

button,
input,
textarea,
select {
  font: inherit;
}
